
.welcome {
    width: 100vw;
    height: 100vh;
    background-color: var(--darkMainBg);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 1.5s ease-in;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 9000;
}

.welcome__image {
    animation: fadeIn 2s;
    pointer-events: none;
}

@keyframes fadeIn {
    from {opacity: 0}
    to   {opacity: 1}
}