
.albums {
    background-color: var(--darkMainBg);
    min-height: 100vh;
    
    padding: var(--pagePadding);
    padding-bottom: var(--navPadding);

    overflow-x: hidden;
}

.albums__featured {
    margin-bottom: 7%;
}

.albums__featured__images {
    min-width: 500px;
    display: flex;
    gap: 15px;
    margin-bottom: 11%;

    flex-shrink: 0;
}
