
.albums {
    background-color: var(--darkMainBg);
    min-height: 100vh;
    
    padding: var(--pagePadding);
    padding-bottom: var(--navPadding);
    overflow-x: hidden;
}

.albums__featured {
    margin-bottom: 7%;
}

.albums__featured__images {
    /* min-width: 250px; */
    /* display: flex; */
    /* gap: 15px; */
    /* margin-bottom: 11%; */

    height: 160px;
    
    margin-right: -6.1%;
    /* padding-right: 6.1%; */
    margin-left: -6.1%;
    /* padding-left: 6.1%; */

    flex-shrink: 0;

    overflow-x: auto;
}
