
.walkthrough {
    background: var(--linearColor);
    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: flex-end;

    padding: var(--pagePadding);
}

/* .walkthrough__bgImage {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;

    background: url("/images/bgAsset1.svg") no-repeat;
} */

.walkthrough__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
}

.walkthrough__content__title {
    text-align: center;
    color: var(--darkFont);
}

.walkthrough__content__text {
    font-size: 14px;
    color: var(--darkFont);
    font-weight: 200;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.walkthrough__content__icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.walkthrough__content__icons div {
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.walkthrough__content__skip {
    margin: 40px 0;
    color: var(--darkFont);
    font-weight: 300;
}