

.undercategory {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.undercategory p {
    font-size: 13px;
    font-weight: 300;
    margin-right: 20px;
    color: var(--darkFont);
}

.undercategory:first-child {
    margin-top: 15px;
}