

:root {
    --darkFont: #fff;
    --darkMainBg: #341931;
    --darkPink: #ff1168;
    --darkBlue: #111625;
    --linearColor: linear-gradient(#EE0979, #FF6A00);

    --pagePadding: 0 6%;
    --navPadding: 70px;
}